ul,ol{list-style:none}
h1,h2,h3,h4,h5,h6,pre,code{font-size:1em;}
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset{
margin:0;padding:0;line-height:1; list-style:none;}
a img,:link img,:visited img, fieldset{border:none;}
input[type=submit], input[type=reset], input[type=button] { *filter:chroma(color=#000000); }
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background: #e2e2e2;
}
::-webkit-scrollbar-thumb {
  background: #494949;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(41, 41, 41);
}



.imgLogo{
  width: 130px;
  height: 50px;
  margin-left: 2%;
  padding-right: 5%;
  float: left;
  font-family: 'Poppins' , sans-serif;
  font-weight: bold;
}

#buscador{
  outline: none;
  overflow: hidden;
  font-family: 'Poppins' , sans-serif;
  font-weight: 400;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 14px;
  margin-bottom: 14px;
  width: 7%;
  border-top: 1px solid #ca0000;
  border-left: 1px solid #ca0000;
  border-right: 1px solid #ca0000;
  border-bottom: 1px solid #ca0000;
  font-size: 100%;
  background-color: #ca0000;
  color: white;
  cursor: default;
  padding-left: 1%;
  padding-right: 5%;
  float: right;
  margin-left: 10%;
  transition: 0.7s all;
}
::placeholder{
  color: white;
}
#buscador:focus{
  width: 30%;
  background-color: transparent;
  color: white;
  cursor: text;
  border-top: 1px solid #181818;
  border-left: 1px solid #181818;
  border-right: 1px solid #181818;
  border-bottom: 1px solid white;
}

.divBuscar{
  display: none;
  background-color: #181818;
  width: 100%; 
  float: left;
  position: sticky;
  z-index: 100;
  min-height: 800px;
}
#closeBuscarLi{
  color: white;
  background-color:  rgb(163, 11, 11);
  padding: 10px;
  font-size: 150%;
  text-align: center;
}

#buscador:focus + .divBuscar{
  display: none;
}

.llistaBuscar li a {
  padding: 12px;
  text-decoration: none;
  color: white;
  background-color: #181818;
  float: none;
  text-align: center;
  font-family: 'Poppins' , sans-serif;
  font-weight: 400;
}
.llistaBuscar li a:hover{
  background-color: #2e2e2e;
  color: rgb(255, 255, 255);
}

.topnav {
  overflow: hidden;
  background-color: #181818;
  background-blend-mode: screen;
  font-family: Poppins ExtraLight;
  transition: 1s all; 
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  font-size: 115%;
  opacity: 20;
  height: 22px;
  transition: .2s ease;
  font-family: 'Poppins' , sans-serif;
  font-weight: 200;
}


.topnav a:hover {
  background-color: #363636;
  color: white;
}
.subDiscover{
  float: none;
  display: none;
  color: black;
}
.topnav a.active{
  font-family: 'Poppins' , sans-serif;
  font-weight: 800;
  padding-top: 10px;
  height: 32px;
  font-size: 160%;
  line-height: 80%;
  color: white;
  text-align: left;
}

.topnav a.active:hover {
  background-color: transparent;
}

.topnav .icon {
  display: none;
}

#lineMenu{
  float: right;
  color: black;
  font-size: 200%;
  padding-top: 10px;
}

@media screen and (max-width: 650px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    width: 10%;
    text-align: center;
  }

  #tittleLogo{
    display: none;
  }

  #lineMenu{
    display: none;
  }

  .topnav a.active{
    display: block;
  }
}

@media screen and (max-width: 650px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    float: left;
    right: 0;
    top: 0;
    text-align: center;
    width: 10%;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav a.active {
    text-align: left;
  }
  #buscador{
    float: left;
    width: 85%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    padding-left: 5%;
  }
}


#divIntro{
  width: 100%;
  height: 300px;
  background-image: url(./img/kaleb-kendall-8nwf-7VLLaw-unsplash.jpg);
  background-size: 100%;
  background-position-y: 50%;
  background-position-x: 50%;
  background-attachment: fixed;
  text-align: center;
}
.divIntroAnimation{
  animation: forwards 4s textAnimation;
  animation-fill-mode: forwards;
  z-index: -50;
}

@keyframes textAnimation {
  0% { transform: translate3d(0, 100%, 0); opacity: 0;}
  100% { transform: translate3d(0, 0, 0); opacity: 1;}
}

#tittleIntro{
  color: white;
  font-family: 'Poppins' , sans-serif;
  font-weight: 800;
  font-size: 60px;
  margin-bottom: 20px;
  line-height: 120%;
  padding-top: 4%;
  opacity: 1;
  overflow: hidden;
}

#subTittleIntro{
  color: white;
  font-family: 'Poppins' , sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
}

#wordSearch{
  width: 100%;
  height: 220px;
}
.inputWord{
  width: 20%;
  margin-left: 39%;
  color: rgb(255, 255, 255);
  margin-right: 39%;
  margin-top: 3%;
  overflow: hidden;
  outline: none;
  padding: 10px;
  font-size: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 400; 
  border: 2px solid #cf0000;
  background-color: #cf0000;
  text-align: center;
  transition: all 1s;
  cursor: default;
}
.inputWord:focus{
  width: 63%;
  background-color: #ffffff;
  color: black;
  margin-right: 17%;
  margin-left: 17%;
  border: 2px solid black;
  cursor: text;
}
::placeholder {
  color: rgb(255, 255, 255);
}

#textSearch{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 100%;
  color: black;
  text-align: center;
  line-height: 120%;
}

.results{
  width: 100%;
  padding-bottom: 10%;
  height: auto;
}
#llistaResults{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
#llistaResults li{
  border-top: solid 2px #000000;
  background-color: #eeeeee;
  margin-bottom: 5%;
}
#llistaResults li h1{
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 110%;
}
#llistaResults li p{
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 3%;
  margin-right: 3%;
  line-height: 110%;
}




#footer{
  width: 100%;
  height: 350px;
  background-color: rgb(107, 107, 107);
  float: left;
}
#footer1{
  width: 30%;
  float: left;
  background-color: black;
  height: 350px;
}
#footer2{
  width: 40%;
  float: left;
  background-color: black;
  height: 350px;
}
#footer3{
  width: 26%;
  height: 320px;
  float: left;
  font-family: 'Poppins' , sans-serif;
  font-weight: 200;
  background-color: black;
  color: white;
  padding-top: 30px;
  padding-left: 2%;
  padding-right: 2%;
}

#textIn{
  font-family: 'Poppins' , sans-serif;
  font-weight: 400;
  font-size: 80%;
  color: white; 
  margin-left: 5%;
  margin-top: 15px;
  margin-bottom: 5px;
}
#buttonIn{
  color: white;
  background-color: transparent;
  border: solid 1px white;
  width: 90%;
  padding: 10px;
  outline: none;
  margin-left: 5%;
  font-family: 'Poppins' , sans-serif;
  font-weight: 400;
  margin-top: 5%;
  margin-bottom: 5%;
}
#buttonIn:hover{
  cursor: pointer;
  background-color: white;
  color: black;
}

#footMenu{
  text-decoration: none;
  color: white;
  font-family: 'Poppins' , sans-serif;
  font-weight: 400;
  float: white;
  margin-left: 40%;
}

#aboutFoot{
  width: 50%;
  margin-left: 40%;
  color: white;
  font-family: 'Poppins' , sans-serif;
  font-weight: 400;
}


@media screen and (max-width: 800px) {
  #buscador{
    float: right;
    width: 80%;
    right: 0;
  }
  #buscador:focus{
    width: 80%;
  }
  #closeBuscador{
    display: none;
  }
    
  .divBuscar{
    position: sticky;
  }

  #divIntro{
    height: 300px;
    background-size: 300%;
    background-position-x: 40%;
    background-position-y: 0;
    background-attachment: fixed;
  }
  #tittleIntro{
    font-size: 250%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    padding-top: 20%;
  }
  #wordSearch{
    width: 90%;
    height: auto;
    margin-bottom: 12%;
  }
  .inputWord{
    width: 50%;
    margin-left: 28%;
    margin-right: 25%;
    margin-top: 8%;
  }
  #llistaResults{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .llistaResults li h1{
    width: 100%;
    float: none;
  }


  #footer1{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  #footer2{
    width: 100%;
    opacity: 1;
    padding-left: 0;
    padding-right: 0;
  }
  #footer3{
    width: 100%;
    opacity: 1;
    padding-left: 0;
    padding-right: 0;
  }
  #footMenu{
    margin-left: 10%;
  }
  #aboutFoot{
    margin-left: 30%;
  }
  
    
#inOur{
  width: 80%;
}
#inGmail{
  width: 80%;
}
#inName{
  width: 50%;
}
  
}




